body{
    background-color:seashell;
    width: 80%;
    margin-left: 10%;
}

header{
    background-color: darkslategrey;
}

#photo_for_cv {
    width: 150px;
    margin: 1%;
}

nav{
    background-color: darkslategray;

}
nav ul{
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    color: seashell;
    font-size: 30px;
}
#header_div {
    float: left;
    width: 80%;
    text-align: center;
    color: seashell;
}
h1 {
    font-size: 75px;
}
#location_p {
    font-size: 20px;
}
main {
    width: 80%;
    justify-content: center;
}