body{
    background-color:seashell;
}

header{
    background-color: darkslategrey;
}

#photo_for_cv {
    width: 150px;
    margin: 1%;
}

nav{
    background-color: darkslategray;

}
nav ul li{
    display: inline-block;
}
nav ul li a{
    color: seashell;
}
#header_div {
    float: left;
    width: 80%;
    text-align: center;
    padding-top: 5%;
    color: seashell;
}